<header><%= render 'layouts/header' %></header>
<% if user_signed_in? %>
<ul class="breadcrumb">
  <li>
    <%=  link_to "Flightboard",root_path %> <span class="divider">/</span>
  </li>
 
  <li>
  	Add new candidate<span class="divider">/</span>
  </li>
  
</ul>
<%= render 'form' %>

<%= link_to 'Back', job_candidates_path %>

<%else%>
<div class="row">

<div class="span12">
  <ul class="topbar">
 
    Apply forms
    </ul>
</div>
</div>


<%= render 'form' %>

<%end%>
