<header><%= render 'layouts/header' %></header>

<div class="menubar"> 
      <ul class="menubarulleft">
        <li class="menubaritem">
          <%= link_to "Home", root_path, :class =>'menubarlink' %></li>
        <li class="separator"> </li>
        <li class="menubaritem"><%= link_to @job.title, job_path(@job), :class =>'menubarlink'%></li>
        <li class="separator"> </li>
        <li class="menubaritem"><%= @candidate.name %></li>
        <li class="menuright">Panel</li>
        <li class="menunext"> <%= link_to image_tag("nextbutton.png"), job_candidate_path(@job,@next_candidate)%>
     
        </li>
      </ul>   
</div>
 
<div class="content">
  <div class="resume">
    <div class="data">
      <div class="name"><%= @candidate.name %></div>
      <div class="links_resume"> <%=  link_to "Resume", @candidate.cv.url,  :target => "_blank"  %> |  <%=  link_to "Cover Letter", root_path  %></div>
      <div class="title">Resume</div>
      <div class="info">
        <%= simple_format(@candidate.attached_resume) %>

      </div>
    </div>
    <div class="panel">
      <div class="panel_title">Approved</div>
      <%= link_to "", vote_up_job_candidate_path(@job, @candidate),:class => "icon-ok" %>  <%= link_to "", vote_down_job_candidate_path(@job, @candidate),:class => "icon-remove" %>
      <br> You (<%= current_user.name %>) have  <%= current_user.vote_value(@candidate) %> this candidate
      <br><br>
      <div class="panel_title">Comments</div>  
      <% if @candidate.comments.size > 0 %>    
      <% for comment in @candidate.comments %> 

        <% if comment.author %><br/><div class="comment_author"><%= comment.author %></div> 
         <% end %>  
        <div class="comment"><%= comment.content %></div> 
      <% end %>  
    <% end %>  
    <br/>
    <div class="panel_title">New comment</div>  

    <%= form_for [@job,@candidate, Comment.new] do |f| %>  
      <p><%= f.text_area :content,:size => "2x5"%></p>  
      <p><%= f.submit %></p>  
    <% end %>  

    </div>

  </div>
</div>
    

<footer><%= render 'layouts/footer' %></footer>